/* ToolsSection.css */

.tools-section {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
    background: #fafafa;
    overflow: hidden;
}

.tools-container {
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
}

.tabs-btns {
    display: flex;
    margin-bottom: 32px;
}

.tab-btn {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    color: var(--text-black, #141414);
}

.tabs-content {
    width: 100%;
    margin: 0;
}

.tab-content {
    visibility: visible;
    opacity: 1;
    position: relative;
    margin-top: 64px;
}

.tab-cards-wrapper {
    gap: 24px;
    width: 100%;
    display: flex;
    overflow: auto hidden;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.tab-cards-wrapper::-webkit-scrollbar {
    display: none !important;
}

.tab-cards-wrapper.card_list_type2 {
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: calc(100% + 32px);
    /* Compensation for padding */
    margin-left: -16px;
    padding: 0 16px;
}

.tab-card {
    scroll-snap-align: start;
    margin: 0;
    padding: 32px;
    transition: all 0.4s cubic-bezier(.89, .34, .2, .83);
    position: relative;
    overflow: hidden;
    background: #f2f2f2;
    border-radius: 12px;
    flex: 0 0 280px;
    min-height: 188px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab-card .logo {
    opacity: .3;
    align-items: center;
    height: 48px;
    transition: opacity .3s;
    display: flex;
}

.tab-card:hover .logo {
    opacity: 1;
}

.tab-card .title {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #464743;
    transition: transform 0.3s ease-out;
}

/* Scroll Navigation */
.scroll-nav {
    display: flex;
    position: absolute;
    top: -116px;
    right: 16px;
    gap: 8px;
}

.scroll-button {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}

.scroll-button:disabled {
    cursor: not-allowed;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.scroll-button svg path {
    fill: #262626;
}

/* Responsive */
@media (max-width: 768px) {
    .tools-section {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .tab-btn {
        font-size: 32px;
    }

    .scroll-nav {
        top: -80px;
    }

    .tab-card {
        flex: 0 0 240px;
        min-height: 160px;
        padding: 24px;
    }
}